.a-wrapper {
    margin-top: 150px;

    @media(max-width:675px) {
        margin-top: 70px;
    }

    .a-top {
        display: flex;
        align-items: center;
        gap: 10px;

        .a-text {
            font-style: normal;
            font-weight: 500;
            font-size: 24px;
            line-height: 150%;
            color: #000000;

            @media(max-width:540px) {
                font-size: 20px;
            }
        }

        .a-line {
            width: 45%;
            height: 2px;
            background: #000;
        }
    }

    .a-center {
        .a-title {
            width: 100%;
            font-style: normal;
            font-weight: 600;
            font-size: 28px;
            line-height: 170%;
            color: #333333;

            @media(max-width:800px) {
                font-size: 26px;
            }

            @media(max-width:635px) {
                font-size: 24px;
            }

            @media(max-width:575px) {
                font-size: 22px;
            }

            @media(max-width:450px) {
                font-size: 18px;
            }

            @media(max-width:375px) {
                font-size: 16px;
            }
        }
    }

    .a-btm {
        display: flex;

        .btm-left {
            width: 100%;

            .btm-img {
                width: 100%;
            }
        }

        .btm-right {
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: space-around;

            .btm-ceo {
                position: absolute;
                top: 30px;
                left: -70px;
                display: flex;
                align-items: center;
                padding: 10px 15px;
                gap: 15px;
                background: #fff;

                @media(max-width:750px) {
                    padding: 8px 12px;
                }

                @media(max-width:630px) {
                    padding: 5px 8px;
                    gap: 7px;
                }

                @media(max-width:540px) {
                    gap: 3px;
                    top: 20px;
                }

                @media(max-width:450px) {
                    top: 10px;
                }

                @media(max-width:375px) {
                    top: 5px;
                }

                .ceo-img {
                    width: 50px;

                    @media(max-width:750px) {
                        width: 45px;
                    }

                    @media(max-width:630px) {
                        width: 40px;
                    }

                    @media(max-width:540px) {
                        width: 30px;
                    }

                    @media(max-width:375px) {
                        width: 20px;
                    }
                }

                .ceo-texts {
                    .ceo-name {
                        font-style: normal;
                        font-weight: 600;
                        font-size: 15px;
                        line-height: 140%;
                        color: #000000;

                        @media(max-width:750px) {
                            font-size: 13px;
                        }

                        @media(max-width:540px) {
                            font-size: 10px;
                        }
                    }

                    .ceo-small {
                        font-style: normal;
                        font-weight: 400;
                        font-size: 12px;
                        line-height: 160%;
                        color: #9C9C9C;

                        @media(max-width:540px) {
                            font-size: 10px;
                        }
                    }
                }
            }

            .btm-button {
                margin-top: 175px;
                display: flex;
                flex-direction: column;
                align-items: center;
                text-align: center;

                @media(max-width:635px) {
                    margin-top: 120px;
                }

                @media(max-width:450px) {
                    margin-top: 70px;
                }

                @media(max-width:375px) {
                    margin-top: 40px;
                }

                .btn-text {
                    font-style: normal;
                    font-weight: 400;
                    font-size: 15px;
                    line-height: 160%;
                    color: #9C9C9C;

                    @media(max-width:750px) {
                        font-size: 13px;
                    }

                    @media(max-width:500px) {
                        font-size: 10px;
                    }

                    @media(max-width:450px) {
                        font-size: 8px;
                    }
                }

                .btn-link {
                    padding: 10px 15px;
                    background: #2C3878;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 12px;
                    line-height: 150%;
                    color: #FFFFFF;

                    @media(max-width:500px) {
                        padding: 8px 12px;
                        font-size: 10px;
                    }

                    @media(max-width:450px) {
                        padding: 5px 10px;
                        font-size: 8px;
                    }
                }
            }
        }
    }
}