.a-wrapper {
    margin-top: 150px;

    @media(max-width:675px) {
        margin-top: 70px;
    }

    .a-top {
        display: flex;
        align-items: center;
        gap: 10px;

        .a-text {
            font-style: normal;
            font-weight: 500;
            font-size: 24px;
            line-height: 150%;
            color: #000000
        }

        .a-line {
            width: 45%;
            height: 2px;
            background: #000;
        }
    }

    .a-center {
        .a-title {
            width: 100% !important;
            font-style: normal;
            font-weight: 600;
            font-size: 28px;
            line-height: 170%;
            color: #333333;

            @media(max-width:635px) {
                font-size: 24px;
            }

            @media(max-width:575px) {
                font-size: 22px;
            }
        }
    }

    .a-btm {
        display: flex;

        .btm-left {
            width: 100%;

            .btm-img {
                width: 100%;
            }
        }

        .btm-right {
            display: flex;
            flex-direction: column;
            justify-content: space-around;

            .btm-ceo {
                transform: translate(-70px, -65px);
                display: flex;
                align-items: center;
                padding: 10px 15px;
                gap: 15px;
                background: #fff;

                @media(max-width:630px) {
                    transform: translate(-66px, -10px);
                    padding: 5px 8px;
                    gap: 7px;
                }

                .ceo-img {
                    width: 50px;

                    @media(max-width:630px) {
                        width: 45px;
                    }
                }

                .ceo-texts {
                    .ceo-name {
                        font-style: normal;
                        font-weight: 600;
                        font-size: 15px;
                        line-height: 140%;
                        color: #000000;

                        @media(max-width:530px) {
                            font-size: 12px;
                        }
                    }

                    .ceo-small {
                        font-style: normal;
                        font-weight: 400;
                        font-size: 12px;
                        line-height: 160%;
                        color: #9C9C9C;

                        @media(max-width:530px) {
                            font-size: 10px;
                        }
                    }
                }
            }

            .btm-button {
                display: flex;
                flex-direction: column;
                align-items: center;
                text-align: center;

                .btn-text {
                    font-style: normal;
                    font-weight: 400;
                    font-size: 15px;
                    line-height: 160%;
                    color: #9C9C9C;

                    @media(max-width:630px) {
                        font-size: 13px;
                    }

                    @media(max-width:500px) {
                        font-size: 10px;
                    }
                }

                .btn-link {
                    padding: 10px 15px;
                    background: #2C3878;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 12px;
                    line-height: 150%;
                    color: #FFFFFF;

                    @media(max-width:500px) {
                        font-size: 10px;
                    }
                }
            }
        }
    }
}