.engineer {
  width: 100%;

  .wrapper {
    width: 100%;

    .block {
      display: flex;
      justify-content: space-between;
      margin-bottom: 5%;

      .block-img {
        width: 60%;
      }

      .mini-block {
        width: 32%;

        .main-text {
          font-family: "Poppins";
          font-style: normal;
          font-weight: 600;
          font-size: 32px;
          line-height: 140%;
          color: #333333;
          margin-bottom: 12%;
        }

        .mini-text {
          font-family: "Poppins";
          font-style: normal;
          font-weight: 400;
          font-size: 20px;
          line-height: 160%;
          color: #a8a8a8;
        }
      }
    }
  }
}
