.rental {
  width: 100%;

  .rental-text {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .rental-main {
      width: 10%;
      font-family: "Poppins";
      font-style: normal;
      font-weight: 700;
      font-size: 33px;
      line-height: 140%;
      text-align: center;
      color: #000000;
      margin-top: 1.5%;
      margin-bottom: 4%;

      @media (max-width: 540px) {
        width: 30%;
        font-size: 22px;
      }
    }

    .little {
      font-family: "Poppins";
      font-style: normal;
      font-weight: 400;
      font-size: 17px;
      line-height: 160%;
      color: #000000;
      background-color: #ffffff;
      margin-bottom: 2%;

      @media (max-width: 540px) {
        font-size: 14px;
      }
    }

    .rental-img {
      max-width: 300%;
      width: 100%;
      margin-bottom: 4%;
    }
  }
}

.project-service {
  .block {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5%;
    margin-top: 3%;

    .block-img {
      width: 60%;
    }

    .mini-block {
      width: 32%;

      .main-text {
        font-family: "Poppins";
        font-style: normal;
        font-weight: 600;
        font-size: 32px;
        line-height: 140%;
        color: #333333;
        margin-bottom: 12%;

        @media (max-width: 785px) {
          font-size: 26px;
        }

        @media (max-width: 650px) {
          font-size: 22px;
          line-height: 120%;
        }

        @media (max-width: 550px) {
          font-size: 20px;
          line-height: 100%;
        }

        @media (max-width: 450px) {
          font-size: 18px;
          line-height: 80%;
        }
      }

      .mini-text {
        font-family: "Poppins";
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 160%;
        color: #a8a8a8;

        @media (max-width: 785px) {
          font-size: 16px;
        }

        @media (max-width: 650px) {
          font-size: 14px;
          line-height: 140%;
        }

        @media (max-width: 550px) {
          font-size: 12px;
          line-height: 120%;
        }

        @media (max-width: 450px) {
          font-size: 10px;
          line-height: 100%;
        }
      }
    }
  }

}